<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FunCut</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div class="container">
            <a href="/">FunCut</a>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="content-center">
                <h1>Paste the URL to be shortened</h1>
                <form id="shorten-form" method="POST" action="/shorten">
                    <input type="url" name="url" id="url" placeholder="Enter a URL to shorten" required>
                    <button type="submit">Shorten</button>
                </form>
                <div id="shorten-result" class="hide"></div>
                <div id="shorten-error" class="hide"></div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="content-center">
                <p>FunCut &copy; <a href="mailto:orynbekov.nurlybek.s@gmail.com">orynbekov.nurlybek.s@gmail.com</a></p>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>